@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* 
font-family: 'Roboto', sans-serif;
font-family: 'Jost', sans-serif;
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}


 /* NAVBAR */

 nav{
    height: 11vh;
    width: 100%;
    overflow: hidden;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #f5fbfd;
     /* box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.11); */
     position: fixed;
     top: 0;
     padding:0 8rem;
     border-bottom: 2px solid rgba(128, 128, 128, 0.137);
     /* box-shadow: 0 8px 11px rgba(0, 0, 0, 0.04); */
     z-index: 1000;
 }
 nav h2{
    font-weight: 500;
    color: #182f2c;
    letter-spacing: 2px;
    font-size: 1.78rem;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav li{
    /* margin: 0 2rem; */
    font-size: 1.2rem;
    color: #7a7e83;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    font-family: 'Roboto';
    font-family: 'Open Sans', sans-serif;

}
nav a{
    text-decoration: none;
    margin: 0 2rem;
}
nav li:hover{
    color: #182f2c;
    transform: translateY(-3px);
}
li::after{

    content: '';
    width: 0;
    height: 1px ;
    background-color: #0c181660;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: all 0.2s ease-in-out;
    margin-top: 3px;
}
nav a:hover li::after{
    width: 100%;
}

button{
    padding: 01rem 2.6rem;
    border: none;
    color: white;
    background-color: #182f2c;
    margin-left: 1rem;
    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease-in-out;
}
nav button:hover{
    background-color: #0c1816;
    cursor: pointer;
    animation: jump 0.3s ease-in-out;
    scale: 1.01;

}

.hero{
    height: 100vh;
    padding: 0 8rem;
    width: 100%;
    background-color: #ffffff;
    /* background-image: url(assets/bg/bg3.png); */
    background-size: cover;
    border-radius: 0 0px 40px 40px;
    box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero::before{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(assets/bg/bg3.png);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    animation: slide 1s ease-out;
}
/* .lightning-results::before{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(assets/bg/bg4.png);
    z-index: 0;
    background-size: cover;
    position: absolute;
    left: 0;
    animation: slide-left 1s ease-out;
    overflow: hidden;
} */
.hero-left{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.hero-right{
    width: 30%;
    height: 27vw;
    background-image: url(assets/images/01.webp);
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease-in-out;
    animation: slide-left 01s ease-in-out;
    /* box-shadow: 0px 0px 40px 0px rgba(231, 231, 231, 0.651); */
    animation: float 5s ease-in-out infinite;
}
.first{
    font-size: 3rem;
    font-weight: 300;
    font-family: "Open Sans";
    color: #0c1816;
}
.second{
    font-size: 5rem;
    font-weight: 600;
    font-family: "Open Sans";
    color: #0c1816;
    /* margin-top: 0.1rem; */
}
.get{
    width: 40%;
    text-decoration: none;
    display: flex;
    padding: 1rem 2rem;
    /* height: 5rem; */
    justify-content: center;
    background-color:white;
    color: #0c1816;
    margin-top: 8rem;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.get:hover{
    background-color: rgb(233, 233, 233);
}
.get-holder{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: start;
    /* background-color: yellow; */
    justify-content: start;
    margin-top: 2rem;
    display: none;
    max-width: 40rem;
}
/* .get-started{
    width: 80%;
    background-color: white;
    color: #0c1816;
    padding: 1rem 2rem;
    margin-top: 10rem;
    border-bottom-left-radius: 15px;
}
.get-started:hover{
    background-color: #182f2c;
} */


.hero-left h4{
    color: rgb(94, 94, 94);
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
    font-family: 'Open Sans';
    padding: 0.5rem 3rem;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    background-color: #0c1816;
    color: white;
}
.hero-left h4:hover{
    cursor: pointer;
    /* animation: jump 0.3s ease-in-out; */
}
.mobile{
    display: none;
    margin-bottom: 3rem;
}
#click{
    font-weight: 300;
    font-family: 'Open Sans';
}
.hero-left p{
    width: 50%;
    color: grey;
    font-size: 1.2rem;
    margin-top: 0.7rem;
}

.lightning-results{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    /* background-image: url(assets/images/animated3.svg); */
    /* backdrop-filter: brightness(200%); */
    padding: 0 8rem;
    /* margin-top: 5rem; */
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-shadow: 0 3px 20px 10px rgba(128, 128, 128, 0.11);
}
.lightning-results-left{
    width: 30%;
    height: 70vh;
    background-image: url(assets/images/results.jpg);
    /* background-color: greenyellow; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 0 30px 10px rgba(128, 128, 128, 0.144);
    z-index: 100;
    min-width: 30rem;
}
.lightning-results::before{
    content: '';
    height:100vh ;
    width: 100%;
    position: absolute;
    /* background-image: url(assets/images/animated4.svg); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    /* z-index: ; */
    left: 0;
    /* top: 0; */
    opacity: 01;
    overflow: hidden;
}
.lightning-results-right{
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* justify-content: center; */
    /* background-color: cyan; */
    padding: 0 0 0 7rem;
    overflow-x: hidden;
}
.lightning-results-right h1{
    text-align: right;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 4rem;
    font-family: 'Open Sans';

}
.lightning-results-right p{
    text-align: justify;
    line-height: 30px;
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
    font-weight: 300;
}
.light{
    font-family: 'Open sans';
    font-weight: 300;
}
.light-btn{
    border-bottom-left-radius: 20px;
    position: relative;
    right: 0;
    margin-top: 4rem;
    transition: all 0.3s ease-in-out, color 0.1s ease-in-out;
}
.light-btn p{
    color: white;
    transition: all 0.3s ease-in-out;
    transform: translateX(3px);
}
.light-btn:hover{
    background-color: #2a5851;
    color: black;
    cursor: pointer;
}
.light-btn:hover p{
    /* color: black; */
    transform: translateX(-3px);
}
.lightning-results-right h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#0c1816;
}
.lightning-results-left::before{
    content: '';
    height: 6rem;
    width: 6rem;
    background-image: url(assets/svg/1.svg);
    position: absolute;
    /* background-color: red; */
    z-index: 300;
    left: 40px;
    /* top: 50px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}
.lightning-results-right::after{
    content: '';
    height: 6rem;
    width: 6rem;
    background-image: url(assets/svg/1.svg);
    position: absolute;
    /* background-color: red; */
    z-index: 300;
    left: 33%;
    bottom: -98%;
    /* top: 50px; */
    /* bottom: 0; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}
.hr{
    height: 3px;
    margin-right: 5rem;
    width: 8rem;
    background-color: #182f2c;
    /* margin-bottom: 40px; */
}









.services{
    height: auto;
    padding-top: 8rem;
    width: 100%;
    /* background-color: rgba(128, 128, 128, 0.205); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-head h1{
    font-size: 4rem;
    font-family: 'Open Sans';
    margin-bottom: 0.2rem;
    font-weight: 500;
}
.service-head p{
    font-weight: 300;
    color: grey;
    font-size: 1.4rem;
}
#our{
    font-weight: 300;
}
.services-card-section{
    height: auto;
    width: auto;
    max-width: 100%;
    padding:0 8rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.service-card{
    height: 60vh;
    padding: 3rem;
    width: 26rem;
    min-width: 26rem;
    background-color: #ebf8fc8e;
    margin: 5rem 3rem;
    border-radius: 0px;
    transition: all 0.2s ease-out;
    border: 1px solid rgba(128, 128, 128, 0.164);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service-card:hover{
    box-shadow: 3px 3px 17px 10px rgba(128, 128, 128, 0.075);
    scale: 1.0s;
}
.service-card:hover .card-image{
    scale: 1.1;
}
.card-image{
    height: 30%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-in-out;
    margin-bottom: 3rem;
}
.card-heading{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Open Sans';
    margin-bottom: 1rem;
}
.card-text{
    color: grey;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.learn-more{
    width: 100%;
    padding: 1rem 1rem;
    background-color: #2a5851;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.learn-more:hover{
    background-color: #0c1816;
    cursor: pointer;
}
.web{
    background-image: url(assets/icons/web.png);
}
.seo{
    background-image: url(assets/icons/seo.png);
}
.graphics{
    background-image: url(assets/icons/graphics.webp);
}














.tech{
    height: auto;
    width: 100%;
    background-color: #0d1a18;
    padding-bottom: 3rem;
}
.tech h1{
    color: white;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding: 3rem 8rem;
}
.tech-container{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* overflow-x: scroll; */
}.web-tech,.graphics-tech{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
    /* background-color: yellow; */
}
.group{
    /* margin: 1rem; */
    display: flex;
}
.web-card{
    height: 5rem;
    width: 5rem;
    margin: 1rem 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.html{
    background-image: url(assets/icons/html.svg);
}
.css{
    background-image: url(assets/icons/css.svg);
}
.js{
    background-image: url(assets/icons/js.svg);
}
.figma{
    background-image: url(assets/icons/figma.svg);
}
.ai{
    background-image: url(assets/icons/ai.svg);
}
.node{
    background-image: url(assets/icons/node.svg);
}
.vs{
    background-image: url(assets/icons/vs.svg);
}
.bs{
    background-image: url(assets/icons/bs.svg);
}
.ps{
    background-image: url(assets/icons/graphics.svg);
}
.xd{
    background-image: url(assets/icons/xd.svg);
}
.canva{
    background-image: url(assets/icons/canva.svg);
}
.figma{
    background-image: url(assets/icons/figma.svg);
}






.contact{
    height: auto;
    width: 100%;
    padding: 5rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer::after{
    z-index: -1;
    /* background-color: rgba(255, 0, 0, 0.151); */
    content: '';
    height: 100vh;
    width: 100%;
    /* background-color: yellow; */
    background-image: url(assets/icons/footer-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    /* top: 0; */
    transform: translateY(-70vh);
}
.contact-left{
    /* background-color: red; */
    height: 70vh;
    width: 40%;
    display: flex;
    justify-self: center;
    align-items: center;
    /* background-color: #ebf8fc8e; */
    border-radius: 20px;
}
/* .contact-left::before{
    content: '';
    height: 80vh;
    width: 80vh;
    background-color: #0d1a18;
    border-radius: 10000%;
    position: absolute;
    left: 0;
    transform: translateX(-30%);
} */
.contact-left h1{
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Open Sans';
    text-align: center;
    /* width: 100%; */
}
.contact-right{
    /* background-color: yellow; */
    height: auto;
    padding: 3rem 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    /* padding-right: 8rem; */
}
form{
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    /* padding: 4rem 4rem 4rem 4rem; */
    /* background-color: yellow; */
}
form input{
    width: 70%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid grey;
    /* background-color: #f5fbfd5e; */
    font-size: 1.2rem;
    outline: none;
    letter-spacing: 0px;
    font-weight: 400;
}
form textarea{
    width: 70%;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid grey;
    resize: none;
    font-size: 1.1rem;
    font-size: 1.2rem;
    outline: none;
    letter-spacing: 0px;
    font-weight: 400;
}
.form-reveal{
    color: rgb(44, 44, 44);
}
.button-div{
    width: 70%;
    padding: 2rem 0;
    /* background-color: #0c1816; */
    height: auto;
    display: flex;
    justify-content: start;
}
.button{
    padding: 1rem 4rem;
}
.button:hover{
    background-color: rgb(0, 3, 3);
    cursor: pointer;
}
.ham{
    height: 3rem;
    width: 6rem;
    display: none;
    background-image: url(assets/svg/ham.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}






footer{
    height: 50vh;
    background-color: #0d1a18;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}
.footer-right{
    width: 100%;
    /* background-color: red; */
    height: auto;
    padding: 2rem 2rem 2rem 8rem;
    display: flex;
    justify-content: center;

    align-items: start;
}
.footer-left{
    width: 40%;
    height: 100%;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}
.footer-card{
    height: 100%;
    width: auto;
    max-width: 18rem;
    /* min-width: 25rem; */
    /* background-color: yellow; */
    margin: 2rem 9rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.footer a{
    color: rgb(194, 194, 194);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-top: 0.7rem;
    font-size: 1rem;
}
.footer p{
    color: rgb(194, 194, 194);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-top: 0.7rem;
    font-size: 1rem;
}
.footer h5{
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}
.footer a:hover{
    color: white;
}
.end{
    padding: 1rem;
    font-weight: 300;
    font-family: 'Open Sans';
    border-top: 1px solid rgba(255, 255, 255, 0.062);
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1a18;
}
.contact-head{
    font-size: 2rem;
}
/* .low-margin{
    margin-top: 09rem;
} */



.mobile-menu{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60%;
    background-color: #0c1816;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 100000;
}
.mobile-links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.mobile-links{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mobile-links a{
    width: 120%;
    text-align: center;
    color: white;
    padding: 2rem 4rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.mobile-links a:hover{
    background-color: #000000;
}
#ham{
    /* display: none; */
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
}
.cross
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cross-btn{
    background-image: url(assets/svg/cross.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 2rem;
}

@keyframes jump{
    0%,100%{
        transform: translateY(0);
        /* scale: 1; */
    }
    20%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(-3px);
        /* scale: 1.001; */
    }
    80%{
        transform: translateY(1.5px);
    }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes slide{
    0%{
        transform: translateX(-70px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-left{
    0%{
        transform: translateX(70px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
